{% extends 'base.html.twig' %}

{% block title %}Se Connecter
{% endblock %}
{% block metaName %}SnowTricks Connexion
{% endblock %}
{% block metaContent %}Connexion
{% endblock %}

{% block body %}

    <div class="container w-75 my-5 px-auto border">
        <h1>Formulaire de connexion</h1>
        <p>UserName =</p>  
        <p>Password =</p> 

        <button type="submit">Se connecter</button> {# Une fois connecté, l'utilisateur sera redirigé vers l'accueil #}
        <a href="{{ path('forgot_pass') }} "><button>Mot de passe oublié ?</button></a> 
    </div>

{% endblock %}