{% extends 'base.html.twig' %}

{% block title %}Nouveau Mot de passe
{% endblock %}
{% block metaName %}SnowTricks ResetPass
{% endblock %}
{% block metaContent %}Reset Password
{% endblock %}

{% block body %}

    <div class="container w-75 my-5 px-auto border">
        <h1>Formulaire reset mot de passe</h1> 
        <p>Nouveau pass ??<p>
        <p>Confirmation ??</p>

        <button type="submit">Reset Password</button>
        {# Accessible via token, Une fois le mot de passe changé, l'utilisateur sera redirigé vers la page d'accueil et authentifié #}
    </divW

{% endblock %}