<h1>Plus qu'un click pour être membre SnowTricks</h1>

<p>
    Confirmez votre e-mail en clicquant sous le lien ci-dessous <br><br>
    <a href="{{ signedUrl|raw }}">Confirmez votre e-mail</a>.
    Le lien expirera dans {{ expiresAt|date('g') }} heure (s).
</p>

<p>
    Cheers!
</p>
