<h1>Hello!</h1>

<p>Vous avez fait une demande de réinitialisation de mot de passe sur SnowTricks</p>

<p>Suivez le lien ci-dessous pour réinitialiser votre mot de passe</p>

<a href="{{ url|raw }}">Réinitialiser votre mot de passe</a>.

<p>Ce lien expirera dans {{ resetLifeTime|date('g') }} heure(s).</p>

<p>Cheers!</p>
