{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}
{% block metaName %}Accueil
{% endblock %}
{% block metaContent %}Accueil SnowTricks
{% endblock %}
{% block stylesheet %}css\index.css
{% endblock %}

{% block body %}
    
    {% for flashSuccess in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flashSuccess }}</div>
    {% endfor %}
    
    {% for flashError in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {# Au chargement de la page, seule l'image d'accueil (avec phrase d'accroche) s'affichera. Un bouton en bas à droite permettra de descendre l'affichage jusqu'au block de tricks #}   
    <div class="imageAccueil mx-2 my-1">
        <img src="img\home.jpg" class="img-fluid"/>
        <div class="accrocheAccueil">
            <p><i>Welcome on Board</i></p>
        </div>
        <div class="buttonDown">
            <a href="#blockTricks"><button type="button" class="btn btn-info"><i class="fas fa-arrow-circle-down fa-2x"></i></button></a>
        </div>
    </div>   

    {# BLOC de TRICKS : 15 premières vignettes #}
    <div id="blockTricks" class="container my-5">
        <div class="row">
        {% include ('main/_blockTricks.html.twig') %}
        </div>
    </div>

    {# BLOC de TRICKS : load more #}
    <p class="load-more">Load More</p> 
    <input type="hidden" id="numTrick" value="0">
    <input type="hidden" id="all" value=" {{ nbTricks }}">

    {# Bouton Up : Apparait si on load plus de 15 tricks #}
    <div class="buttonUp">
        <a href="#blockTricks"><button type="button" class="btn btn-info"><i class="fas fa-arrow-circle-up fa-2x"></i></button></a>
    </div>

{% endblock %}

{% block textJS %}
{# load more #}
<script type="text/javascript">
    $('.buttonUp').hide();
    $(document).ready(function(){
        $('.load-more').click(function(){
            var numTrick = Number($('#numTrick').val());
            var allcount = Number($('#all').val());
            var trickPerPage = 15;
            numTrick = numTrick + trickPerPage;

            if(numTrick <= allcount){
                $("#numTrick").val(numTrick);

                $.ajax({
                    url: '{{ path('blockTricks') }}',
                    type : 'GET',
                    data : 'numTrick=' + numTrick,
                    success: function(response){
                        $('.col-5cols').last().after(response);
                    }    
                });
            }

            if (numTrick >= (allcount - trickPerPage)){
            $('.load-more').hide();  
            }

            if (numTrick >= trickPerPage){
            $('.buttonUp').show();  
            }            
        })
    });
</script>
{% endblock %}



  


