{% extends 'base.html.twig' %}

{% block title %}Modification {{ trick.title |capitalize }}
{% endblock %}
{% block metaName %}SnowTricks {{ trick.title }}
{% endblock %}
{% block metaContent %}Modification {{ trick.title |capitalize }}
{% endblock %}

{% block body %}
{# La page ne doit être accessible que si l'utlisateur est connecté #}

{# Mettre une image de fond sur toute la largeur de la page #}

{# Mettre l'image à la une = principale ou image par défaut #}
<div class="container w-75 my-5 px-auto border">
    <div class="container my-5 px-auto border">
        Image Principal + TitreTrick<img src="https://placehold.it/860x400">
    </div>
    {# y ajouter un bouton modifier/supprimer si connecté #}
  
{# Afficher carrousel avec les photos et les vidéos à la suite - Responsive
il sera caché sur mobile avec un bouton qui affichera les médias (modale??) #}
{# chaque image/vidéo pourra être modifiée de manière individuelle #}

    <div class="container my-5 px-auto border">
        chaque image/vidéo pourra être modifiée de manière individuelle
        Sur mobile, le carrousel sera caché. Un outon affichera les médias pour modfi/suppression
        <img src="https://placehold.it/120x60">
        <img src="https://placehold.it/120x60">
        <img src="https://placehold.it/120x60">
        <img src="https://placehold.it/120x60">
        <img src="https://placehold.it/120x60">
        <img src="https://placehold.it/120x60">
        <img src="https://placehold.it/120x60">
    </div>

    <div class="container my-5 px-auto border">
        <p>Dans la catégorie {# Afficher une liste déroulante avec les catégories avec celle de la figure par défaut #}</p>
        <hr class="my-1">
        <p>Description : {{ trick.description  }}</p>{# En faire un champ modifiable  #}
    </div>

    <button type="submit" class="btn btn-danger">Supprimer la figure</button>
    <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
</div>
{% endblock %}
