@media (max-width: 992px)
{
    body{
        padding-bottom:65px;
        padding-top: 0px; 
    }
    
    .navbar{
        justify-content: center;
        padding-top: 2px;
        padding-bottom: 15px; 
    }
}

body{
    padding-bottom: 20px;
}