.carousel-inner{
    height: 700px;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}

.carousel-control-prev-icon{
    background-color: #54b4eb;
}

.carousel-control-next-icon{
    background-color: #54b4eb;
}   

.carousel-indicators{
    position :relative;
    width: auto;
}

.scrolling-wrapper{
    overflow-x: auto;
}

@media (min-width: 992px)
{
    .collapse.dont-collapse-sm{
        display : block;
        visibility: visible;
    }
}