{% extends 'base.html.twig' %}

{% block title %}Nouveau Tricks
{% endblock %}
{% block metaName %}SnowTricks Ajout d'un Trick
{% endblock %}
{% block metaContent %}Nouveau Trick
{% endblock %}

{# TODO la page n'est accessible que si l'utlisateur est connecté #} 
{% block body %}
<div class="container my-5 px-auto border">
    <h1>Ajouter un nouveau Trick</h1>

    {{ include('trick/_form.html.twig') }}
    {# TODO Erreur si l'utlisateur n'est pas connecté #} 
        {# soit redirigé sur la page du formulaire en cas d'erreur, en précisant le(s) type(s) d'erreurs ;
        soit redirigé sur la page listant des figures avec un message flash donnant une indication concernant le bon déroulement de l'enregistrement en base de données en cas de succès.
        #}

    <a href="{{ path('trick_index') }}">Retour à la liste</a>
</div>    
{% endblock %}
